*{
	margin: 0px;
	padding: 0px; 
}

html {
  scroll-behavior: smooth;
}

.bg-light{
	background: white!important;
	padding-bottom: 15px;
	width: 100%;
}

.navbar-brand{
	padding-top: 15px;
	padding-left: 80px;
	padding-right: 10px;
}

.navbar-brand img{
	width: 200px;
	height: 70px;
}

.nav-item{
	padding-left: 50px;
	font-size: 18px;
}

.navbar-light .navbar-nav .nav-link{
	color: #000000;
	font-weight: 480;
	font-family: sans-serif;
	padding-top: 20px;
}

.navbar-light .navbar-nav .nav-link:hover{
	color: #f89828!important;
}

.dropdown-menu{
	background-color: rgb(30,144,255);
}

.dropdown-item{
	padding: 5px 6px;
	color: #fff;
	font-size: 14px;
}

.dropdown-item:hover{
	color: #f89828;
}

/*.........Carousel........*/

.slider{
	margin-top: 6%;
}

.carousel-inner{
	width: 100%;
	height: 70vh;
}

.carousel-inner img{
    height: inherit;
    max-width: 100%;
    line-height: 1;
    margin:auto;
    width: 100%; 
}

.carousel-item{
	height: inherit;
	width: 100%;
}

.intro{
	position: absolute;
	margin-top: 10%; 
	z-index: 1000;
}

.intro h1{
	font-weight: 600;
	color: limegreen;
	font-size: 3.4em;
}

.intro h2{
	padding-top: 8px;
	color: #fff;
	font-size: 1.8em;
}

.bn{
    position: absolute;
    margin-top: 25%;
    z-index: 10;
}

.bn .btn{
	background: teal;
	color: #fff;
	padding: 10px 20px;
	border-radius: none;
}

.bn .btn:hover{
	background: limegreen;
	border: none;
}

/*.....Carousel Overlay......*/

.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.5);
}


/*..........Covers........*/

.cover{
	padding: 50px 0;
	background-color: #e0dddb;
	width: 100%;
	position: relative;
}

.cover .row{
	margin: 0;
}

.cover h1{
	padding: 10px 0 60px 0;
	color: darkgreen;
}

.frame{
	border: 1px solid rgb(211,211,211);
	border-radius: 5px;
	margin: 0 0px 50px 20px;
	padding: 0px;
	background: #fff;
	box-sizing: border-box;
}

.frame:hover{
	box-shadow: 0px 0px 20px #888888;
}

.frame h5,p{
	text-align: center;
}

.frame h5{
	padding: 15px 0 6px 0;
	color: #006400;
	font-weight: bold;
}

.frame p{
	padding: 0 0 5px 0;
	color: #696969;
}

.frame img{
	width: 100%;
	height: 160px;
}

.frame button{
	border: none;
	background: seagreen;
	padding: 5px 20px;
	border-radius: 50px;
	margin: 0 0 25px 0;
}

.frame button:hover{
	background: darkgreen;
}

.frame button a{
	color: #fff;
	text-decoration: none;
	font-weight: 500;
}

.mg-7{
	margin-top: 7%;
}

/*..........Medical cover.......*/

.present{
	width: 100%;
	height: 55vh;
	background: linear-gradient(
      rgba(0,0,0,0.4), 
      rgba(0,0,0,0.4)),
	url("../img/medical.jpeg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.health{
	position: absolute;
	margin-top: 8%; 
	z-index: 1000;
}

.health h1{
	font-weight: 600;
	color: #fff;
	margin: 0;
	font-size: 3.4em;
}

.health h2{
	font-weight: 300;
	padding-top: 5px;
	color: #fff;
	font-size: 1.8em;
}

.md .row{
	margin: 0;
}

.med{
	background: url("../img/medical2.jpg");
	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;
}

.cal{
	padding: 2%;
	background: #494949;
	color: #fff;
}

.cal h1{
	padding-bottom: 2%;
}

.cal p{
	text-align: left!important;
	line-height: 1.7;
}

.cal i{
	padding-right: 8px;
}

.bd{
	border: 1px solid #309cea;
	padding: 5px 5px 10px 30px;
}


/*.........Life Cover........*/

.life{
	width: 100%;
	height: 55vh;
	background: linear-gradient(
      rgba(0,0,0,0.4), 
      rgba(0,0,0,0.4)),
	url("../img/care.jpg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.lf{
	line-height: 1.7;
}

.lf .row{
	margin: 0;
}

.lf h3{
	font-size: 15px;
	text-align: center;
}

/*.........Business Cover..........*/

.business{
	width: 100%;
	height: 55vh;
	background: linear-gradient(
      rgba(0,0,0,0.4), 
      rgba(0,0,0,0.4)),
	url("../img/business.jpg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

/*........Propety Cover.......*/

.property{
	width: 100%;
	height: 55vh;
	background: linear-gradient(
      rgba(0,0,0,0.4), 
      rgba(0,0,0,0.4)),
	url("../img/property.jpg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.pt .row{
	margin: 0;
}

.pt h3{
	font-size: 15px;
	text-align: center;
}

/*.........Car Cover.........*/

.car{
	width: 100%;
	height: 55vh;
	background: linear-gradient(
      rgba(0,0,0,0.4), 
      rgba(0,0,0,0.4)),
	url("../img/car1.jpg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.pr{
	
}

.pr .row{
	margin: 0;
	text-align: center;
}

.box1{
	/*border: 1px solid black;*/
/*	box-shadow: 0px 0px 20px #888888;
*/	margin-right: 20px;
	margin-bottom: 50px;
	line-height: 1.7;
	box-sizing: border-box;
	padding: 50px 0 20px 0;
/*	border-radius: 10px;
*/}

.box1 p{
	padding-bottom: 20px;
}

.pr{
	margin: 80px 0 50px 0;
}

.pr h3{
	font-size: 15px;
}

.mc .row{
	margin: 0;
}

.bp{
	background: url("../img/car3.jpg");
	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;
}

.sr{
	padding: 50px;
	background: #494949;
	color: #fff;
}

.cd{
	border: 1px solid #309cea;
	padding: 100px;
	line-height: 1.7;
}

.bp-r{
	background: url("../img/crack.jpg");
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;
}

.cl .row{
	margin: 0;
}

.cl p{
	padding-top: 120px;
	padding-right: 50px;
	line-height: 1.8;
	text-align: left !important;
}

.cl img{
	width: 100%;
	height:320px;
	right: 0;
	padding-left: 0px;
}


/*..........Leadership..........*/

.tm{
	text-align: center;
	margin-top: 50px;
}

.tm img{
	width: 100%;
	height: 400px;
}


/*..........Partners...........*/

.pn{
	background: #fff;
	padding-bottom: 40px;
	margin-bottom: 1px solid black;
}

.pn h1{
	padding: 30px 0 40px 0;
}

.pn .box{
	margin-top: 15px;
}

.pn img{
	width: 150px;
	height: 150px;
}

/*.........Comments..........*/

.contact{
	background: #f4f4f4;
	padding: 30px;
}

.contact .frm{
	margin-right: auto;
	margin-left: auto;
}

.contact h1{
	color: #383838;
	font-size: 35px;font-weight: 900;
	letter-spacing: 2px;
	padding-bottom: 10px;
}

.contact h4{
	font-size: 19px;
	font-weight: 400;
	color: #747474;
	font-family: Georgia, serif;
	padding-bottom: 40px;
	font-style: italic;
}

.contact label{
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.8;
	color: #696969;
	padding-left: 10px;
}

.contact input{
	border-radius: 20px;
	border: 2px solid #d8d8d8;
	box-shadow: none;
	padding: 20px;
	width: 100%;
}

.contact input:focus{
	border: 2px solid limegreen;
	box-shadow: none;
}

::placeholder{
	font-size: 1rem;
}

.contact button{
	padding: 10px 0;
	display: block;
	width: 100%;
	margin: 0 auto;
	border: none;
	color: white;
	border-radius: 20px;
	background-color: #fbae17;
}

.contact button:hover{
	color: #fff;
}

.contact a{
	text-decoration: none;
}

/*...........Footer............*/

footer{
	padding: 70px;
	background-color: green;
	bottom:0;
	width: 100%;
	position: relative;
}

/*.footer h4{
	color: #fff;
	font-size: 1em;
	font-weight: 600;
	text-transform: uppercase;
}

.footer .hp{
	border-right: 2px solid #b3b3b3;
}

.footer-links{
	list-style-type: none;
}

.footer-links li{
	margin-top: 1.5em;
	text-align: center;
}

.footer-links li a{
	text-decoration: none;
	color: #fff;
	font-weight: 300;
	font-size: 1em;
}

.footer .lower{
	font-size: .8em;
	padding: 20px 0;
	border-top: 1px dotted #b3b3b3;
	border-bottom: 1px dotted #b3b3b3;
}*/

.icon{
	text-align: center;
}

.icon h2{
	padding: 0 0 25px 0;
	color: #fff;
	font-weight: 500;
}

ul{
	list-style-type: none;
}

.icon ul li{
	display: inline-block;
	border: 2px solid white;
	margin-right: 8px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

li i{
	color: black;
	padding: 10px;
}

.fa{
	font-size: 18px;
	color: #fff;
}

.fa-facebook{
	color: blue;
}

.fa-youtube-play{
	color: rgb(220,20,60);
}

.fa-instagram{
	background-color: ; 
}

.fa-twitter{
	color: rgba(29,161,242,1.00);
}

.textwidget p{
	color: #fff;
	font-size: 18px;
}

.policy p{
	color: #fff;
	font-weight: 400;
	font-size: 1em;
}

